@font-face
{
	font-family:		ourfont;
	src:		url(fonts.ttf);
}

body
{
	background-color:	#080703;
	padding:	0px;
	margin:	0px;
	width:	100%;
	height:	100%;
	color:		white;
	font-family:		calibri;
}

h2
{
	text-align:	center;
	text-decoration:	underline;
}

#bannerID
{
	display:	block;
	margin:	0 auto;
	font-family:		ourfont;
	font-size:		60px;
}

#bannerID a
{
	text-decoration:		none;
}

#bannerID a:hover
{
	color:		white;
}

#bannerID a:visited
{
	color:		white;
}

.header
{
	width: 50%;
}

#footer
{
	width:	100%;
	border-top-style:	solid;
	border-top-width:	2px;
	text-align:	center;
	font-size: 10px;
}

#footer a
{
	color:		white;
}

#footer a: visited
{
	color:		white;
}

#menu
{
	text-align:	center;
	border-bottom-style:	solid;
	border-top-style:	solid;
	border-bottom-width:	2px;
	border-top-width:	2px;
	width:	100%;
	color:		white;
}

#menu a
{
	text-decoration:		none;
	display:	block;
}

#menu a:hover
{
	background-color: white;
	color:	#080703;
}

#menu a:visited
{
	color:		white;
	display:		block;
}

#menu a:visited:hover
{
	background-color: white;
	color:	#222222;
}

#menu  table
{
	border:	0px;
	margin:		auto;
}

#menu td
{
	padding-left:	20px;
	padding-right:	20px;
	font-size:	25px;
	background-color: #222222;
}

#menu td:hover
{
	background-color: white;
	color:	#222222;
}

#submenu
{
	font-size:	20px;
	background-color:	#222222;
}

#submenu td
{
	border:		0px;
	padding-top:	15px;
	padding-bottom:	15px;
}

#submenu a:hover
{
	background-color: white;
	color:	#222222;
}

#submenu a:visited
{
	color:		white;
	display:		block;
}

#submenu a:visited:hover
{
	background-color: white;
	color:	#222222;
}

#submenu td:hover
{
	background-color: white;
	color:	#222222;
}

.intro_tekst
{
	text-align:	center;
}

#tekst
{
	margin:		auto;
	overflow:	auto;
}

#tekst img
{
	position:	relative;
	left:	-42.5%;
}

#tekst p
{
	width:	50%;
	margin-left:	25%;
	margin-bottom:	1%;
}

#tekst ul
{
	width:	50%;
	margin-left:	25%;
}

#tekst ol
{
	width:	50%;
	margin-left:	25%;
}

#progressTable, td
{
	border:	1px;
	border-style:	solid;
	border-color: black;
}